@charset "utf-8";
/* CSS Document */
.top-img {margin-bottom: 38px}

p
{font-family: Verdana;
font-style: normal;
font-weight: bold;
font-size: 30px;
text-align: right;
color: #130033;}

p2 {font-family: Verdana;
font-style: normal;
font-weight: bold;
font-size: 25px;
text-align: left;
color: #608B3E;
margin-top: 2px}

body
{padding: 0px; margin: 0px; background-color: beige;}

table
{padding: 0px; margin: auto; cellspacing: 0; cellpadding: 0;}

.td
{padding: 0px; margin: 0px; vertical-align: top}

p1
{font-family: Verdana;
font-style: normal;
font-size: 15px;
text-align: center;
font-weight: bold;
color: #F5F2E6;}

a:link {color: #99C6E1;}
a:visited {color: #99C6E1;}
a:hover {color: #EBAE1D;}
a {text-decoration: none}

a1:link {color: #004B81;}
a1:visited {color: #004B81;}
a1:hover {color: #EBAE1D;}

a1 {color: #2E739E;
font-family: Verdana;}

a2 {font-family: Verdana;
font-style: normal;
font-weight: bold;
font-size: 30px;
text-align: right;
color: #130033;}

body {scrollbar-base-color: #99C6E1;
scrollbar-arrow-color: #608B3E;}

body::-webkit-scrollbar 
{width: 15px;}
 
body::-webkit-scrollbar-thumb 
{background-color: #608B3E;}

.td
{padding: 0px; margin: 0px; vertical-align: top}

.center-img {display: block; margin: 0 auto}


p3 {font-family: Verdana;
font-style: normal;
font-size: 16px;
font-weight: bold;
color: #004B81;}

p4 {font-family: Verdana;
font-style: normal;
font-size: 12px;
font-weight: normal;
color: #130033;}

p5 {font-family: Verdana;
font-style: normal;
font-weight: bold;
font-size: 20px;
text-align: center;
color: #608B3E;}

p6 {font-family: Verdana;
font-style: italic;
font-size: 15px;
font-weight: normal;
color: #130033;}

p7 {font-family: Verdana;
font-style: normal;
font-size: 14px;
font-weight: bold;
color:#004B81;}

p8 {font-family: Verdana;
font-style: normal;
font-weight: bold;
font-size: 25px;
text-align: left;
color: #BC8810;
margin-top: 2px}

 

ol {
    list-style: none;
	padding-left: 15px;
   }

.li {
    list-style: none;
    background: url("../images/min.png")no-repeat 0;
	padding-left: 15px;
   }
   .lil {

    list-style-image: url("../images/min.png")no-repeat 0;
	padding-left: 15px;
	 list-style-position: inside;
	 text-align:left
   }

.talbe
{
 vertical-align: top;
	padding-left: 40px;
   }

* { box-sizing: border-box; }

}
header {
  background: white;
  text-align: center;
}
header a {
  text-decoration: none;
  outline: none;
  display: block;
  transition: .3s ease-in-out;
}
.logo {
  color: #D5B45B;
  font-family: 'Playfair Display', serif;
  font-size: 2.5em;
  padding: 20px 0;
}
nav {
  display: table;
  margin: 0 auto;
}
nav ul { font-family: Verdana;
	
  list-style: none;
  margin: 0;
  padding: 0;
}
.topmenu:after {
  content: "";
  display: table;
  clear: both;
}
.topmenu > li {
  width: 25%;
  float: left;
  position: relative;
  font-family: 'Open Sans', sans-serif;
}
.topmenu > li > a {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  color: #404040;
  padding: 15px 30px;
}
.topmenu li a:hover { color: #D5B45B; }
.submenu-link:after {
  content: "\f107";
  font-family: "FontAwesome";
  color: inherit;
  margin-left: 10px;
}
.submenu {
  background: #273037;
  position: absolute;
  left: 0;
  top: 100%;
  z-index: 5;
  width: 180px;
  opacity: 0;
  transform: scaleY(0);
  transform-origin: 0 0;
  transition: .5s ease-in-out;
}
.submenu a {
  color: white;
  text-align: left;
  padding: 12px 15px;
  font-size: 13px;
  border-bottom: 1px solid rgba(255,255,255,.1);
}
.submenu li:last-child a { border-bottom: none; }
.topmenu > li:hover .submenu {
  opacity: 1;
  transform: scaleY(1);
}
